/* layout */

body {
  margin:0px;
  padding:0px;
}

div#header {
  padding:10px;
  padding-right:12%;
  text-align:right;
}

div#main { 
  margin-left:12%;
  margin-right:12%;
  padding:10px;
}

div#footer { 
  margin-left:15%;
  padding:10px;
}


/* format */

img { 
  border:0;
}

body { 
  color: #101010;
  background-color: #C0D0C0;
  text-align: justify;
}

div#header { 
  background-color:#1FA01F;
}

div#main { 
  background-color: #D0F0C0;
}

div#footer {
  font-size:small;
}

h1 { 
  color: #FFFFFF;
  text-align: right;
}

h2 {
  color: #1FA01F;
/*  background-color:#FFFF80; */
  border-bottom-style: solid;
  border-color: #C0D0C0;
  padding-top:1em;
}

p { 
  padding-left:30pt;
  padding-right:30pt;
}

ul { 
  padding-left:50pt;
  padding-right:10pt;
}

a:hover { 
  color: white;
  background-color: #1FA01F;
}